# Copy this file to .streamlit/secrets.toml and fill in your Supabase credentials

SUPABASE_URL = "https://zqqxdmfsiqkijldvvocv.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxcXhkbWZzaXFraWpsZHZ2b2N2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5NTAzMDUsImV4cCI6MjEwMTUyNjMwNX0.iusk535rQGmTLKHbP6efjNkyozJcPKADpL0fasRnrHE"
